*.pyc
exp.ipynb
*.log
events.out.*
*.pth
*/wandb/run*
pretrain/outputs/*
*finetune/wandb/
*finetune/runs/
*finetune/outputs/
*pretrain/wandb/
*pretrain/model/
*pretrain/outputs/
*test/wandb/
*.csv
*finetune_model*.sh
*finetune_ace*.sh
*.yaml